/* .row {
  min-height: 100%;
  position: relative;
} */
html {
  height: 100%;
}

/* super duper responsive  */
@media (max-width: 575px) and (max-height: 823px){
  .footer {
    position: absolute;
    bottom: 100;
    margin: 310% 0 0 0;
    background-color: #000 !important;
    width: 100%;
  }
}


h1,h3,h4,h6 {
  font-family: 'Roboto Mono', monospace;
}
h2, h5 {
  font-family: 'Mansalva', cursive;
}
a {
  color: gold;
  text-decoration: none;
}
a:hover {
  color: salmon;
  text-decoration: none;
}
.footer {
  width: 100%;
  background-color: #393939;
  color: gold;
}

.containerFooter{
  display: flex;
  flex-direction: column;
}

.isiContainerTechnology{
  display: flex;
  flex-direction: column;
  color: blanchedalmond
}

.isiContainerTechnology1{
  display: flex;
  justify-content: space-evenly;
  
}

.isiContainerTechnology2{
  display: flex;
  justify-content: space-evenly;
}

.technology{
  display:flex;
  justify-content: center;
  padding-right: 30px;
  margin-bottom: 21px;
  font-size: 30px
}

.LogoHtml{
  content: url(../../assets/footer/HTML.png);
  width: 75px;
  height: 75px;
}

.LogoCSS{
  content: url(../../assets/footer/CSS.png);
  width: 75px;
  height: 75px;
}

.LogoJs{
  content: url(../../assets/footer/javascript.png);
  width: 65px;
  height: 65px;
}

.LogoReact{
  content: url(../../assets/footer/React.png);
  width: 100px;
  height: 80px;
}

.LogoRedux{
  content: url(../../assets/footer/Redux.png);
  width: 70px;
  height: 70px;
}

.LogoGoogleMaps{
  content: url(../../assets/footer/google-maps.png);
  width: 70px;
  height: 70px;
}

.LogoNodeJs{
  content: url(../../assets/footer/Nodejs.png);
  width: 95px;
  height: 75px;
  margin-top:10px;
}

.LogoMongoDB{
  content: url(../../assets/footer/mongoDB.png);
  width: 175px;
  height: 75px;
}

.LogoMongoose{
  content: url(../../assets/footer/mongoose.png);
  width: 135px;
  height: 65px;
  margin-top:15px
}

.LogoExpress{
  content: url(../../assets/footer/express.png);
  width: 125px;
  height: 55px;
  margin-top: 25px
}
