.heroimage {
  font-size: 36px;
  /* background-color: rgba(9, 9, 9, 0.5); */
  height: 300px;
  color: white;
  text-align: center;
  position: relative;
  top: 350px;
}

.heroimage h1 {
  font-size: 36px;
  color: white;
  text-align: center;
  position: relative;
  top: 50px;
}
input#search {
  text-align: center;
}