.marker {
  width: 48px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
  padding: 4px 0;
  color: black;
}
.marker.selected {
  background-color: yellow;
  border-color: black;
}