body {
  font-family: 'Roboto Mono', monospace;

}
.checked {
  color: orange;
}
h1 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: 'Roboto Mono', monospace;

}
.cardpack {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.77); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.77);
}

h2 {
  font-family: 'Mansalva', cursive;
  font-size: 46px;
}